{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "1e19a08c-6948-4932-9ad1-4b91ac70f090",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}